<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= label_tag :client %>
  <%= form.select(:client_id, options_for_select((Client.all.order(:name).map { |c| [c.name, c.id] }).unshift(["Select client", nil]), selected: @selected)) %>
  <br/>
  <%= label_tag :name %>
  <%= text_field :animal, :name %>
  <br>
  <%= label_tag :categorie %>
  <%= text_field :animal, :categorie %>
  <br>
<ul>

<li>Starting date : <%= text_field :animal, :starting_date, class: "datepicker" %></li>
<li>Vaccin : <%= text_field :animal, :vaccin, class: "datepicker" %></li>
<li>API1 : <%= text_field :animal, :API1, class: "datepicker" %></li>
<li>API2 : <%= text_field :animal, :API2, class: "datepicker" %></li>
<li>API3 : <%= text_field :animal, :API3, class: "datepicker" %></li>
<li>API4 : <%= text_field :animal, :API4, class: "datepicker" %></li>
<li>APE1 : <%= text_field :animal, :APE1, class: "datepicker" %></li>
<li>APE2 : <%= text_field :animal, :APE2, class: "datepicker" %></li>
<li>APE3 : <%= text_field :animal, :APE3, class: "datepicker" %></li>
<li>Consult : <%= text_field :animal, :consult, class: "datepicker" %></li>
</ul>

  <br/>
  <div class="actions">
    <%= form.submit class: "btn" %>
  </div>
<% end %>
<br/>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.datepicker');
  var instances = M.Datepicker.init(elems, {
    showClearBtn: true
  });
});
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, null);
  });
</script>